{% extends 'base.html' %}
{% block title %}Good Cafes and Wifi{% endblock %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block css %} <link href="../static/assets/css/cafe_details.css" rel="stylesheet"> {% endblock %}
{% block content %}


  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs" data-aos="fade-in">
      <div class="container">
        <h2>{{cafe.name}}</h2>
        <p>Est dolorum ut non facere possimus quibusdam eligendi voluptatem. Quia id aut similique quia voluptas sit quaerat debitis. Rerum omnis ipsam aperiam consequatur laboriosam nemo harum praesentium. </p>
      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Cource Details Section ======= -->
    <section id="course-details" class="course-details">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-8">
            <img src="{{cafe.img_url}}" class="img-fluid" alt="">
            <h3>Et enim incidunt fuga tempora</h3>
            <p>
              Qui et explicabo voluptatem et ab qui vero et voluptas. Sint voluptates temporibus quam autem. Atque nostrum voluptatum laudantium a doloremque enim et ut dicta. Nostrum ducimus est iure minima totam doloribus nisi ullam deserunt. Corporis aut officiis sit nihil est. Labore aut sapiente aperiam.
              Qui voluptas qui vero ipsum ea voluptatem. Omnis et est. Voluptatem officia voluptatem adipisci et iusto provident doloremque consequatur. Quia et porro est. Et qui corrupti laudantium ipsa.
              Eum quasi saepe aperiam qui delectus quaerat in. Vitae mollitia ipsa quam. Ipsa aut qui numquam eum iste est dolorum. Rem voluptas ut sit ut.
            </p>
          </div>
          <div class="col-lg-4">

            <div class="course-info d-flex justify-content-between align-items-center">
              <h5>Submitted By</h5>
              <p><a href="#">Walter White</a></p>
            </div>

            <div class="course-info d-flex justify-content-between align-items-center">
              <h5>Location</h5>
              <p>{{cafe.location}}</p>
            </div>

            <div class="course-info d-flex justify-content-between align-items-center">
              <h5>Available Seats</h5>
              <p>30</p>
            </div>

            <div class="course-info d-flex justify-content-between align-items-center">
              <h5>Schedule</h5>
              <p>5.00 pm - 7.00 pm</p>
            </div>

          </div>
        </div>

      </div>
    </section><!-- End Cource Details Section -->

    <!-- ======= Cource Details Tabs Section ======= -->
    <section id="cource-details-tabs" class="cource-details-tabs">
      <div class="container" data-aos="fade-up">
        <!--           Comments Area -->
        <h2>Comments</h2>
              <ul class="commentList">
                {% for comment in comments: %}
                <li class=" comment-item d-flex flex-row">
                    <div class="commenterImage">
                      <img src="{{ comment.comment_author.email | gravatar }}">
                    </div>
                    <div class="commentText">
                      <span class="date sub-text">{{comment.comment_author.name}} on {{comment.date}}</span>
                      <p>{{comment.text}}</p>
                       <div class="commentActions d-flex flex-row justify-content-between">
                      <a href="">Like</a>
                         <a href="">Reply</a>

                    </div>
                      <!--                         REPLIES-->
                         <ul>
                           {% for reply in replies %}
                           {% if reply.comment_id == comment.id: %}
                           <li class=" d-flex flex-row">
                    <div class="commenterImage">
                      <img src="{{ reply.reply_author.email | gravatar }}">
                    </div>
                    <div class="commentText">
                      <span class="date sub-text">{{reply.reply_author.name}} on {{reply.date}}</span>
                      <p>{{reply.text}}</p>
                       <div class="commentActions d-flex flex-row justify-content-between">
                      <a href="">Like</a>
                         <a id="reply{{comment.id}}">Reply</a>

                    </div>

                    </div>
                </li>
                           {% endif %}
                           {% endfor %}
                         </ul>
                         <!--                           REPLIES-->
                      <form class="reply-form flex-column justify-content-start align-items-start" action="{{ url_for('cafe_detail', comment_id = comment.id, cafe_id=comment.cafe_id) }}" method="post">
                        {{ reply_form.csrf_token() }}
                        {{ reply_form.reply_text(class_="reply_text")}}
                        {{reply_form.reply_btn(class_="reply_btn btn get-started-btn search-btn")}}
                      </form>

                    </div>
                </li>
                {% endfor %}
                {{ comment_form.csrf_token() }}
          {{ wtf.quick_form(comment_form, button_map={'post_btn':'btn get-started-btn search-btn'}, novalidate=True) }}

              </ul>




      </div>
    </section><!-- End Course Details Tabs Section -->

  </main><!-- End #main -->

{% endblock %}